/* Bootstrap */
/*@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";*/
/* Reset CSS */
/* Include a CSS reset to normalize browser styles across different browsers */
/* Example:
   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }
*/
/* Typography */
/* Define global typography styles such as font families, font sizes, and colors */
/* MONTSERRAT: */
@font-face {
  font-family: "Montserrat-Medium";
  src: url("fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("fonts/Montserrat/static/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("fonts/Montserrat/static/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Extra-Bold";
  src: url("fonts/Montserrat/static/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
}
/* CABIN: */
@font-face {
  font-family: "Cabin-Medium";
  src: url("fonts/Cabin/static/Cabin/Cabin-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Cabin-Regular";
  src: url("fonts/Cabin/static/Cabin/Cabin-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Cabin-Bold";
  src: url("fonts/Cabin/static/Cabin/Cabin-Bold.ttf") format("truetype");
}
:root {
  --bb-red: #DF2935;
  --bb-yellow: #F4D35E;
  --bb-beige: #EBEBD3;
  --bb-purple: #6E75A8;
  --bb-black: #171614;
}

/* Layout */
/* Define global layout styles such as margins, paddings, and display properties */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: Montserrat-Medium, sans-serif;
  font-size: 26px;
  color: var(--bb-red);
}
body .bb-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}
body .bb-hcontainer {
  width: 100%;
  height: 100%;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
  scroll-behavior: smooth;
}
body .bb-hcontainer section {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  scroll-snap-align: start;
}
body .bb-hcontainer section:nth-of-type(1) {
  background-color: white;
  color: var(--bb-black);
}
body .bb-hcontainer section:nth-of-type(2) {
  background-color: var(--bb-beige);
  color: blue;
}
body .bb-hcontainer section:nth-of-type(3) {
  background-color: rgb(48, 48, 48);
  color: var(--bb-red);
}
body .bb-hcontainer section nav {
  width: 100vw;
  height: 10vw;
}
body .bb-hcontainer .bb-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat-Extra-Bold, sans-serif;
}
body .bb-hcontainer .bb-button:active {
  background-color: var(--bb-black);
  border-color: var(--bb-black);
  font-family: Montserrat-Extra-Bold, sans-serif;
}
body .bb-hcontainer .bb-red-button {
  background-color: var(--bb-red);
  border-color: var(--bb-red);
}
body .bb-hcontainer .bb-black-button {
  background-color: var(--bb-black);
  border-color: var(--bb-black);
}
body .bb-hcontainer .bb-arrow-button {
  background-color: transparent;
  border-color: var(--bb-black);
  height: 3rem;
  width: 3rem;
}
body h1 h2 {
  color: var(--bb-black);
}
body h1 {
  font-size: 90px;
}

.center-element {
  display: flex;
  justify-content: center;
}

/* Media Queries */
/* Define styles for different device sizes */
@media screen and (max-width: 576px) {
  /* Small devices (e.g. smartphones) */
  /* Add styles specific to small devices here */
  body {
    font-family: Montserrat-Black, sans-serif;
    font-size: 16px;
    color: var(--bb-black);
    background-repeat: no-repeat;
  }
  .background-container {
    --user-width: 100vw;
    width: var(--user-width);
    height: 893vw;
    background-image: url(../public/landingMobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background-container #button1 {
    position: absolute;
    top: 720vw;
    left: 33vw;
    width: 35vw;
    height: 11vw;
    background-color: var(--bb-red);
    border-color: var(--bb-red);
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #button1:active {
    background-color: var(--bb-black);
    border-color: var(--bb-black);
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #button2 {
    position: absolute;
    display: inline;
    top: 850vw;
    left: 33vw;
    width: 35vw;
    height: 11vw;
    background-color: var(--bb-red);
    border-color: var(--bb-red);
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #button2:active {
    background-color: var(--bb-black);
    border-color: var(--bb-black);
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #contactForm {
    position: absolute;
    display: inline;
    top: 830vw;
    left: 26vw;
    width: 50vw;
    height: 20vw;
    font-size: 12px;
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #contactForm .form-control {
    font-size: 10px;
  }
  .background-container #check-box1 {
    position: absolute;
    top: 569.2vw;
    left: 60.3vw;
    font-size: 10px;
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #check-box1 .form-check-input {
    border-radius: 4px;
    border-width: 2px;
    border-color: var(--bb-black);
    width: 5.8vw;
    height: 5.8vw;
  }
  .background-container #check-box1 .form-check-input:checked {
    background-color: var(--bb-black);
  }
  h2 {
    font-family: Cabin-Regular, sans-serif;
    color: var(--bb-red);
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  /* Medium devices (e.g. tablets) */
  /* Add styles specific to medium devices here */
  body {
    font-family: Montserrat-Light, sans-serif;
    font-size: 16px;
    color: var(--bb-red);
    background-repeat: no-repeat;
  }
  .background-container {
    --user-width: 100vw;
    width: var(--user-width);
    height: 258vw;
    background-image: url(../public/landingDesktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background-container #button1 {
    position: absolute;
    top: 212vw;
    left: 42vw;
    width: 18vw;
    height: 5vw;
    background-color: var(--bb-red);
    border-color: var(--bb-red);
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #button1:active {
    background-color: var(--bb-black);
    border-color: var(--bb-black);
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #button2 {
    position: absolute;
    display: inline;
    top: 252vw;
    left: 42vw;
    width: 18vw;
    height: 5vw;
    background-color: var(--bb-red);
    border-color: var(--bb-red);
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #button2:active {
    background-color: var(--bb-black);
    border-color: var(--bb-black);
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #contactForm {
    position: absolute;
    display: inline;
    top: 242vw;
    left: 42vw;
    width: 18vw;
    height: 5vw;
    font-size: 10px;
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #check-box1 {
    position: absolute;
    top: 189.7vw;
    left: 66.5vw;
    font-size: 10px;
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #check-box1 .form-check-input {
    border-radius: 4px;
    border-width: 2px;
    border-color: var(--bb-black);
    width: 1.8vw;
    height: 1.8vw;
  }
  .background-container #check-box1 .form-check-input:checked {
    background-color: var(--bb-black);
  }
  h2 {
    font-family: Cabin-Medium, sans-serif;
    color: var(--bb-purple);
  }
}
@media screen and (min-width: 993px) {
  /* Large devices (e.g. desktops) */
  /* Add styles specific to large devices here */
  body {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 16px;
    color: var(--bb-purple);
  }
  .background-container {
    --user-width: 100vw;
    width: var(--user-width);
    height: 258vw;
    background-image: url(../public/landingDesktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background-container #button1 {
    position: absolute;
    top: 212vw;
    left: 42vw;
    width: 18vw;
    height: 5vw;
    background-color: var(--bb-red);
    border-color: var(--bb-red);
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #button1:active {
    background-color: var(--bb-black);
    border-color: var(--bb-black);
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #button2 {
    position: absolute;
    display: inline;
    top: 252vw;
    left: 42vw;
    width: 18vw;
    height: 5vw;
    background-color: var(--bb-red);
    border-color: var(--bb-red);
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #button2:active {
    background-color: var(--bb-black);
    border-color: var(--bb-black);
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #contactForm {
    position: absolute;
    display: inline;
    top: 242vw;
    left: 42vw;
    width: 18vw;
    height: 5vw;
    font-size: 10px;
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #check-box1 {
    position: absolute;
    top: 189.7vw;
    left: 66.5vw;
    font-size: 10px;
    font-family: Montserrat-Extra-Bold, sans-serif;
  }
  .background-container #check-box1 .form-check-input {
    border-radius: 4px;
    border-width: 2px;
    border-color: var(--bb-black);
    width: 1.8vw;
    height: 1.8vw;
  }
  .background-container #check-box1 .form-check-input:checked {
    background-color: var(--bb-black);
  }
  h2 {
    font-family: Cabin-Bold, sans-serif;
    color: var(--bb-purple);
  }
}

/*# sourceMappingURL=style.css.map */
